doctype html
html
	head
		block title
		link(rel="stylesheet" href="/css/style.css")
		block owncss
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no")
	body
		header#main-header
			div.res-tel
				block tel
			div.header-container
				block h1title
				block tips
				nav
					ul#menubar
						li.item
							a(href='/') 网站首页
						li.item
							a(href="/intro") 公司简介
						li.item
							a(href="/food") 菜品展示
						li.item
							a(href='/news') 新闻资讯
						li.item
							a 联系方式

		block content
		footer
			block footer-content
		script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
		block scripts

