<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
		<title>Restaurant</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header id="main-header">
			<div class="res-tel">
				<span>电话: 18895330868</span>
			</div>

			<div class="header-container">
				<h1>创意餐厅</h1>
				<p>享受美味，就在此地，就在此时。</p>
				<nav>
					<ul id="menubar">
						<li class="item"><a href="">网站首页</a></li>
						<li class="item"><a href="">公司简介</a></li>
						<li class="item"><a href="">菜品展示</a></li>
						<li class="item"><a href="">新闻资讯</a></li>
						<li class="item"><a href="">联系方式</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<section class="collapse">
			<div class="collapse-item show"></div>
			<div class="collapse-item"></div>
			<div class="collapse-item"></div>
			<div class="collapse-item"></div>
			<div class="dot">
				<span class="checked" data-id="0"></span>
				<span data-id="1"></span>
				<span data-id="2"></span>
				<span data-id="3"></span>
			</div>
		</section>
		<section class="news">
			<div class="newsitem">
				<div class="header">news item</div>
				<div class="intro-img"></div>
				<div class="newscontent">
					<p>这是我的第一条新闻!</p>
					<button>查看详情</button>
				</div>
			</div>
			<div class="newsitem">
				<div class="header">news item</div>
				<div class="intro-img"></div>
				<div class="newscontent">
					<p>这是我的第一条新闻!</p>
					<button>查看详情</button>
				</div>
			</div>
			<div class="newsitem">
				<div class="header">news item</div>
				<div class="intro-img"></div>
				<div class="newscontent">
					<p>这是我的第一条新闻!</p>
					<button>查看详情</button>
				</div>
			</div>
			<div class="newsitem">
				<div class="header">news item</div>
				<div class="intro-img"></div>
				<div class="newscontent">
					<p>这是我的第一条新闻!</p>
					<button>查看详情</button>
				</div>
			</div>
		</section>
		<section class="display">
			<section class="breakfast">
				<h2>早餐展示</h2>
				<div class="foods">
					<figure>
						<img src="imgs/f1.jpg" alt="">
						<figcaption>好吃的</figcaption>
					</figure>
					<figure>
						<img src="imgs/f1.jpg" alt="">
						<figcaption>好吃的</figcaption>
					</figure>
					<figure>
						<img src="imgs/f1.jpg" alt="">
						<figcaption>好吃的</figcaption>
					</figure>
					<figure>
						<img src="imgs/f1.jpg" alt="">
						<figcaption>好吃的</figcaption>
					</figure>
					<figure>
						<img src="imgs/f1.jpg" alt="">
						<figcaption>好吃的</figcaption>
					</figure>
					<figure>
						<img src="imgs/f1.jpg" alt="">
						<figcaption>好吃的</figcaption>
					</figure>
				</div>
			</section>
			<section class="lunch">
				<h2>午餐展示</h2>
				<div class="foods">
					<figure>
						<img src="imgs/f1.jpg" alt="">
						<figcaption>好吃的</figcaption>
					</figure>
					<figure>
						<img src="imgs/f1.jpg" alt="">
						<figcaption>好吃的</figcaption>
					</figure>
					<figure>
						<img src="imgs/f1.jpg" alt="">
						<figcaption>好吃的</figcaption>
					</figure>
					<figure>
						<img src="imgs/f1.jpg" alt="">
						<figcaption>好吃的</figcaption>
					</figure>
					<figure>
						<img src="imgs/f1.jpg" alt="">
						<figcaption>好吃的</figcaption>
					</figure>
					<figure>
						<img src="imgs/f1.jpg" alt="">
						<figcaption>好吃的</figcaption>
					</figure>
				</div>
			</section>
			<section class="dinner">
				<h2>晚餐展示</h2>
				<div class="foods">
					<figure>
						<img src="imgs/f1.jpg" alt="">
						<figcaption>好吃的</figcaption>
					</figure>
					<figure>
						<img src="imgs/f1.jpg" alt="">
						<figcaption></figcaption>
					</figure>
					<figure>
						<img src="imgs/f1.jpg" alt="">
						<figcaption>好吃的</figcaption>
					</figure>
					<figure>
						<img src="imgs/f1.jpg" alt="">
						<figcaption>好吃的</figcaption>
					</figure>
					<figure>
						<img src="imgs/f1.jpg" alt="">
						<figcaption>好吃的</figcaption>
					</figure>
					<figure>
						<img src="imgs/f1.jpg" alt="">
						<figcaption>好吃的</figcaption>
					</figure>
				</div>
			</section>
		</section>
		
		<div class="close-to-footer"></div>
		<footer>
			网站版权所有@创意餐厅
		</footer>
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>