doctype html
html
	head
		title 后台信息管理
		script(src="js/jquery.min.js")
		block scripts
	body
		header
			nav
				ul
					li
						a(href="#") 新闻管理
					li
						a(href="#") 早餐管理	
					li
						a(href="#") 午餐管理
					li
						a(href="#") 晚餐管理

		block content



					