doctype html
html
	head
		title 后台信息管理
		link(href="css/manager.css" rel="stylesheet")
		script(src="js/jquery.min.js")
		script(src="js/manager.js")
	body
		header
			nav
				ul.nav-list
					li
						a(href="#" name="end-news" class="end-control") 新闻管理
					li
						a(href="#" name="end-foods" class="end-control") 食物管理
					li 
						a(href="#" name="end-settings" class="end-control") 网站信息	

		.container
			block content
		footer 
			a(href="http://hwaphon.site" class="author") 开发者-高华峰
			



					