extends base.pug
block owncss
	link(rel="stylesheet" href="/css/news-display.css")
block content
	article.front-news
		h2 #{title}
		.intro
			span.author 作者: #{author}
			span.date 日期: #{date}
		.content #{body}

block scripts
	script(src="/js/news-display.js")