/* base style start */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::selection {
	background-color: #E8F1F5;
}
html {
	height: 100%;
}

body {
	color: #333;
	line-height: 1.5;
	background-color: #eee;
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
}

header {
	flex: 0 0 auto;
}

.container {
	flex: 1 0 auto;
	background-color: #fff;
}

footer {
	flex: 0 0 auto;
}

ul.nav-list {
	width: 80%;
	height: 48px;
	background-color: #28050b;
	margin: 0 auto;
	display: flex;
	flex-flow: row nowrap;
}

ul.nav-list > li {
	flex: 1 1 auto;
	text-align: center;
	height: 100%;
	line-height: 48px;
	list-style: none;
}

ul.nav-list a {
	text-decoration: none;
	color: #fff;
}

.container,footer  {
	width: 80%;
	margin: 0 auto;
}

h2 {
	height: 48px;
	line-height: 48px;
	background-color: #3f141b;
	padding: 0 18px;
	color: #fff;
}
/* base style end */

/* news style start */
.form-like {
	background-color: #fff;
	padding: 8px 18px;
}

p {	
	margin-bottom: 8px;
}

p label {
	display: inline-block;
	width: 96px;
}

p input {
	padding: 4px 8px;
	border: 1px solid #ccc;
}

p textarea {
	padding: 4px 8px;
	border: 1px solid #ccc;
	resize: none;
}

button {
	background-color: #3f141b;
	color: #fff;
	padding: 8px 24px;
	border: none;
	cursor: pointer;
	transition: background-color .2s;
}

button:hover {
	background-color: #28050b;
}

.list {
	background-color: #fff;
	height: 490px;
	overflow: hidden;
}

.list-item {
	padding: 8px 18px;
	line-height: 32px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

span.title {
	flex: 1 1 480px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

span.date, div.control {
	width: 128px;
	text-align: center;
}

div.control {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	visibility: hidden;
}

span.edit {
	width: 24px;
	height: 24px;
	background-image: url('../imgs/edit.png');
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 4px;
}

span.delete {
	width: 24px;
	height: 24px;
	background-image: url('../imgs/delete.png');
	background-position: center;
	background-repeat: no-repeat;
}

.list-item:hover {
	background-color: rgba(0,0,0,.15);
	transition: background-color .2s;
}

.list-item:hover > div.control {
	visibility: visible;
	transition: visibility .3s;
}

div.page-control {
	height: 48px;
	line-height: 48px;
	background-color: #fff;
	text-align: center;
}

div.page-control span {
	color: #A55540;
	cursor: pointer;
}

div.page-control span:hover {
	text-decoration: underline;
}

span.pre-page-control {
	margin-right: 12px;
}

.model-edit, .model-delete {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: rgba(0,0,0,.1);
	visibility: hidden;
}

.model-edit.show, .model-delete.show {
	visibility: visible;
}

.model-edit .form-like, .model-delete .confirm-delete {
	padding: 24px 32px;
	width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: #fff;
}

.model-delete .confirm-delete {
	width: 45%;
	text-align: center;
}

.confirm-delete button {
	margin-right: 12px;
}

.model-edit .form-like input, .model-edit .form-like textarea {
	width: 100%;
}

.model-edit .form-like input {
	height: 36px;
}

.model-edit .form-like button {
	margin-right: 24px;
}

/* news style end */

footer {
	height: 4rem;
	background-color: #3f141b;
	text-align: center;
	color: #fff;
	font-size: 1.2rem;
	line-height: 4rem;
}

.settings-container .basic {
	padding: 8px 18px;
}

.settings-container p {
	margin-bottom: 16px;
}

.settings-container input {
	width: 360px;
}

.settings-container span {
	margin-left: 12px;
	font-size: 14px;
	color: #5BE7C4;
}

.author {
	text-decoration: none;
	color: #fff;
}

.author:hover {
	text-decoration: underline;
}

.intro {
	padding: 8px 18px;
}



